/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* ------------------------------ Materialize CSS ------------------------------ */
.btn {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: transparent;
  color: var(--black);
  text-transform: none;
  box-shadow: none;
  letter-spacing: normal;
  font-size: 20px;
  font-weight: bold;
  padding: 0px !important;
  padding-left: 5% !important;
  width: initial;
}

.btn:hover, .btn:focus {
  background-color: transparent;
  box-shadow: none;
}

.toast {
  top: 0;
  margin-top: 0px;
}

/* ------------------------------ Margin Component ------------------------------ */
.No-margin {
  margin: 0px !important;
}

.No-padding {
  padding: 0px !important;
}

/* ------------------------------ Container Component ------------------------------ */
.Container-wrap {
  display: flex;
  flex-wrap: wrap;
}

.Container-nowrap {
  display: flex;
  flex-wrap: nowrap;
}

.Container-one-line {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.Container-wrap-center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.Container-wrap-center-cross {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.Container-wrap-center-axis {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Container-nowrap-center {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.Container-nowrap-spacebetween {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.Container-nowrap-spaceevenly {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
}

.Container-nowrap-center-cross {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.Container-nowrap-center-axis {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.Container-nowrap-start {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start
}

.Container-nowrap-end {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-end;
}

.Container-wrap-end {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
}

.Container-nowrap-center-end {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-end;
}

.Container-nowrap-center-start {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
}