/* ------------------------ Header ------------------------ */
#HomeHeader {
  background-color: #2AF598;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 75%;  
  height: 100vh;
}

.Linkedin-mas-box {
  margin-top: 20px;
}

.Linkedin-mas {
  height: 80vh;
}

.Linkedin-logo {
  display: none;
}

.BtnWhite {
  margin: 0 0% 0 7.5%
}

@media only screen and (min-width: 993px) and (max-width: 1200px) {
  #HomeHeader {
    background-position: 25% 75%;
  }

  .Linkedin-mas {
    display: none;
  }

  .Linkedin-logo {
    display: block;
    height: 40px;
    margin-left: 20px;
    border-radius: 5px;
  }
}

@media only screen and (min-width: 601px) and (max-width: 992px) {
  #HomeHeader {
    background-position: 25% 75%;
  }
  
  .Linkedin-mas {
    display: none;
  }

  .Linkedin-logo {
    display: block;
    height: 40px;
    border-radius: 5px;
  }

  .BtnWhite {
    margin: 0 5% 0 7.5%
  }
}

@media only screen and (max-width: 600px) {
  #HomeHeader {
    background-position: 35% 75%;
  }

  .Linkedin-mas {
    display: none;
  }

  .Linkedin-logo {
    display: block;
    height: 40px;
    border-radius: 5px;
  }

  .BtnWhite {
    margin: 0 5% 0 5%
  }
}


/* ------------------------ Section ------------------------ */
#Section {
  min-height: 80vh;
}

.Section-box {
  padding-left: 15vw !important;
  padding-right: 15vw !important;
  margin-top: 80px !important;
  margin-bottom: 80px !important;
}

.Card-image {
  width: 100%;
  height: 10vw;
}

@media only screen and (max-width: 1024px) {
  .Section-box {
    padding-left: 10vw !important;
    padding-right: 10vw !important;
  }

  .Card-image {
    height: 200px;
  }
  
}

@media only screen and (max-width: 768px) {
  .Card-image {
    height: 120px;
  }

  .Section-box {
    padding-left: 40px !important;
    padding-right: 40px !important;
  }
}

@media only screen and (max-width: 320px) {
  .Section-box {
    padding-left: 30px !important;
    padding-right: 30px !important;
  }
}


/* ------------------------ Footer ------------------------ */
.Footer {
  height: 10vh;
  padding: 0 5%;
  margin-top: 20px;
  margin-bottom: 30px;
}
