#ExpHeader {
  background-color: #fec50b;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

.Title-box {
  height: 80vh;
}

.Exp-box {
  padding: 5% 5% !important;
}

.Personal-box {
  margin-bottom: 2.5%;
}

.Exp-image {
  width: 80%;
  margin-bottom: 16px;
}

.Speaker-box {
  height: 80px; 
}

.Speaker {
  height: 8px;
  width: 80px;
  background-color: var(--gray);
  border-radius: 25px;
}

.Dishkon-box {
  margin-left: 5% !important;
  max-width: 77.5%;
  border: 7px solid var(--gray);
  border-radius: 25px;
  padding: 20px 40px !important; 
}

.Dishkon-web {
  width: 100%;
  height: 640px;
  border-radius: 5px;
  border: 2px solid var(--gray);
}

.Home-box {
  height: 80px;
}

.Home-circle {
  height: 48px;
  width: 48px;
  border: 4px solid var(--gray);
  border-radius: 50%;
}

.Image-box-first {
  display: block !important;
}

.Image-box-second {
  display: none !important;
}

.Second-section-info-box {
  display: none;
  border-radius: 5px;
  padding: 7.5px !important;
  background-color: var(--light-green);
  color: var(--white);
}

.Second-section-info {
  font-size: 20px;
  text-align: justify;
}

.Bookinesia-user-box {
  max-width: 20%;
  border: 7px solid var(--gray);
  border-radius: 50px;
  padding: 20px 20px !important; 
}

.Bookinesia-user {
  max-width: 100%;
  height: 450px;
  border: 2px solid var(--gray);
  border-radius: 10px;
}

.Bookinesia-admin-box {
  max-width: 55%;
  border: 7px solid var(--gray);
  border-radius: 25px;
  padding: 20px 40px !important; 
}

.Bookinesia-admin {
  width: 100%;
  height: 580px;
  border: 2px solid var(--gray);
  border-radius: 5px;
}

@media only screen and (min-width: 1201px) and (max-width: 1600px) {
  .Bookinesia-user-box {
    width: 25%;
    max-width: 100%;
  }
  
  .Bookinesia-user {
    width: 100%;
  }

  .Bookinesia-admin-box {
    max-width: 100%;
  }
  
  .Bookinesia-admin {
    height: 57.5vh;
  }

  .Dishkon-box {
    max-width: 100%;
  }
}

@media only screen and (min-width: 993px) and (max-width: 1200px) {
  #ExpHeader {
    background-position: 25% 50%;
  }

  .Image-box-first {
    display: none !important;
  }
  
  .Image-box-second {
    display: block !important;
  }

  .Exp-image {
    width: 100%;
  }

  .Dishkon-web {
    height: 992px !important;
  }

  .Second-section-info-box {
    display: block;
  }

  .Dishkon-box, .Bookinesia-user-box, .Bookinesia-admin-box {
    display: none;
  }
}

@media only screen and (min-width: 601px) and (max-width: 992px) {
  #ExpHeader {
    background-position: 25% 50%;
  }

  .Image-box-first {
    display: none !important;
  }
  
  .Image-box-second {
    display: block !important;
  }

  .Exp-image {
    width: 90%;
  }

  .Dishkon-web {
    height: 696px !important;
  }

  .Speaker-box {
    height: 80px;
  }

  .Home-box {
    height: 80px;
  }

  .Home-circle {
    height: 56px;
    width: 56px;
  }

  .Second-section-info-box {
    display: block;
  }

  .Dishkon-box, .Bookinesia-user-box, .Bookinesia-admin-box {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  #ExpHeader {
    background-position: 25% 50%;
  }

  #ExpHeader {
    background-position: 25% 50%;
  }
  .Image-box-first {
    display: none !important;
  }
  
  .Image-box-second {
    display: flex !important;
  }

  .Exp-image {
    width: 45%;
    margin-bottom: 0px;
  }

  .Second-section {
    margin: 0px !important;
    padding: 0px !important;
  }

  .Dishkon-box {
    border: 5px solid var(--gray);
    border-radius: 20px;
    padding: 10px 10px !important; 
  }

  .Speaker-box {
    height: 50px; 
  }
  
  .Speaker {
    height: 7.5px;
    width: 80px;
    border-radius: 25px;
  }  

  .Home-box {
    height: 50px;
  }
  
  .Home-circle {
    height: 40px;
    width: 40px;
    border: 2.5px solid var(--gray);
  }

  .Dishkon-web {
    height: 440px !important;
  }

  .Second-section-info-box {
    display: block;
  }

  .Dishkon-box, .Bookinesia-user-box, .Bookinesia-admin-box {
    display: none;
  }

  .Second-section-info {
    font-size: 14px;
  }  
}

